button.single_add_to_cart_button {
	background: #69E638 !important;
	border-color: #69E638 !important;
	text-transform: uppercase;
	padding-top: 7px !important;
	font-weight: 700 !important;
	font-size: 16px !important;
	margin-top: 5px !important;
}