.nav-primary {
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 1px solid #DEDEDE;
	position: relative;
	z-index: 2000;
	ul {
	  *zoom:1;
	  list-style:none;
	  margin:0;
	  padding:0;
	  text-align: center;

		> li {
	    display: inline-block;
	    position:relative;
	    
	    &:hover {
		    ul {
					opacity: 1;
					visibility: visible;
		    }
	    }
	    
		}
	  
	  &:before, &:after {
	    content:"";
	    display:table;
	  }
	  &:after {
		  clear: both;
	  }
	  
	}
	
	li {
		
		ul {
			background: $brand-secondary;
			padding: 10px 0;
	    position:absolute;
	    left:50%;
	    margin-left: -125px;
	    top:100%;
	    z-index:2000;
			opacity: 0;
			width: 250px;
			visibility: hidden;
			
			li {
				min-width: 220px;
				
				&.menu-design-your-own {
					a {
						&:before {
							content: 'Hot!';
							display: inline-block;
							font-weight: 300;
							background: #ba2000;
							font-size: .9rem;
							-webkit-border-radius: 3px;
							-moz-border-radius: 3px;
							border-radius: 3px;
							text-transform: none;
							line-height: 1rem;
							padding: .2rem .4rem;
							margin-right: .5rem;
							position: relative;
							top: -6px;
						}
					}
				}
				
			}
			
			a {
				border: none;
				padding: 10px 15px;
				color: #fff;
				font-size: 18px;
			}
			
		}
		
	}
	
	a {
    display:block;
    padding: 22px 20px;
    line-height:1.2em;
    color: #000;
    font-size: 18px;
    
    &:hover {
	    text-decoration: none;
    }
    
	}
	
	li.menu-weddings {
		a {
			font-family: $script;
			text-transform: none;
			font-size: 2.4rem;
		}
	}
	
}
